.cultureMainBody {
 background-color: $greybackground;
 height: 78%;
 margin: 0;
 padding: 0;
 // padding-bottom: 2%;
  .cultureMainBodyInstructions {
    color: white;
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 3% 0;
    background-color: $sky;
  }
   p {
     text-align: left;
     font-size: 15px;
     margin: 0;
     margin-left: 15%;
     padding-top: 3%;
   }
   .continueText {
     margin-left: 34%;
     margin-top: 3%;
    // text-align: center;
   }
}

label {
  margin-top: 0;
  // margin-left: 5%;
  color: $charcoal;
  font-size: 13px;
  text-transform: uppercase;
}
.amount {
  background-color: $greybackground;
  border: 0;
  color: $charcoal;
  font-size: .9rem;
}
.slider {
  background-color: $coral;
  // border: 1px solid $coral;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 1%;
}

.cultureRight {
  height: 845px;
}
.cultureLocationText {
  color: white;
}

.locationForm {
  margin: 0;
  margin-top: 10.5%;
  text-align: center;
  form {
    .location {
      margin-top: 8%;
      padding: 10px 25px;
      width: 80%;
      border-radius: 5px;
      border-bottom: 5px solid #5299d3;
    }
    label{
      font-size: 1.35em;
      color: white;
      margin: 10px 10px;
      cursor: pointer;
      -webkit-transition: all 0.25s linear;
    }
    // .radioBox {
    //   display: inline;
    //   position: relative;
    //   left: -38px;
    //   .noLocation {
    //     margin-top: 13%;
    //   }
    //   .radioLabel {
    //     font-family: $font;
    //     font-size: 1.1em;
    //     text-transform: none;
    //     position: relative;
    //     top: 3px;
    //   }
    // }
    .locationButton {
      font-size: 15px;
      font-family: $font;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 25px;
      background-color: #ff5a5f;
      border: none;
      margin: 0 auto;
      margin-top: 24%;
    }
    .locationButton:hover {
      color: #ff5a5f;
      background-color: white;
    }
  }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: $charcoal;
}
