.cultureMainBody {
 background-color: $greybackground;
 height: 85%;
 margin: 0;
 padding: 0;
  .cultureMainBodyInstructions {
    color: white;
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 3% 0;
    background-color: $sky;
  }
   p {
     color: white;
     text-align: left;
     font-size: 15px;
     margin: 0;
     margin-left: 40%;
     padding-top: 5%;
   }
  // .cultureButton {
  //  font-size: 15px;
  //  font-family: $font;
  //  color: #ffffff;
  //  border-radius: 5px;
  //  padding: 10px 25px;
  //  background-color: #5299d3 ;
  //  background-color: #ff5a5f ;
  //  border: none;
  //  display: block;
  //  margin: 0 auto;
  //  margin-top: 6%;
  // }
  // .cultureButton:hover {
  //  background-color: #ffffff ;
  //  color: #ff5a5f ;
  //  box-sizing: border-box;
  // }
}

label {
  margin-top: 0;
  // margin-left: 5%;
  color: $charcoal;
}
.amount {
  background-color: $greybackground;
  border: 0;
  color: $charcoal;
  font-size: .9rem;
}
.slider {
  background-color: $charcoal;
  // border: 1px solid $coral;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 1%;
}

.cultureRight {
  height: 900px;
}
.cultureLocationText {
  color: white;
}

.locationForm {
  margin: 0;
  text-align: center;
  form {
    .location {
      margin-top: 8%;
      padding: 10px 25px;
      width: 80%;
      border-radius: 5px;
      border-bottom: 5px solid #5299d3;
    }
    .noLocation {
      margin-top: 15%;
    }
    label{
      font-size: 1.35em;
      color: white;
      margin: 10px 10px;
      cursor: pointer;
      -webkit-transition: all 0.25s linear;
}
    .locationButton {
      font-size: 15px;
      font-family: $font;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 25px;
      background-color: #ff5a5f;
      border: none;
      margin: 0 auto;
      margin-top: 22%;
    }
    .locationButton:hover {
      color: #ff5a5f;
      background-color: white;
    }
  }
}
