
@import "variables";

.dashboardBody {
  background-color: $charcoal;
}

.quizEmbarkLogo {
  padding: 2% 2%;
}

.dashboardHeadingText {
  padding-bottom: 2%;
  h1 {
    font-size: 65px;
    text-align: center;
    margin: 1%;
    color: white;
  }
  hr {
    border: 3px solid $coral;
    width: 89%;
  }
}

.dashboardFullButtonWrapper {
  width: 89.5%;
  margin: 0 auto;
  display: block;
  h2 {
    color: white;
    margin: 1.5% 0;
    text-align: center;
  }
  .dashboardButtonContainer {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: .5%;
    padding-bottom: 2%;
  .dashboardButton {
    width: 170px;
    height: 65px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: $sky;
    border: none;
    line-height: 1.6;
    margin-bottom: 10%;
  }
  .dashboardButton:hover {
    background-color: #ffffff;
    color: $sky;
    box-sizing: border-box;
    }
  }
}
.leftColumn {
  float: left;
  width: 40%;
  padding-left: 5%;
    .dashboardJobListingWrapper {
      h2 {
        color: white;
        text-align: center;
        padding-top: 5%;
      }
    .dashboardJobslistFeatures {
      display: flex;
      flex-direction: row;
      align-content: left;
      justify-content: left;
      height: 60px;
      margin-bottom: 39%;
      .dashboardJobslistItem {
        width: 155px;
        height: 200px;
        background-color: $greybackground;
        border-radius: 5px;
        margin: 0 1%;
        border-bottom: 20px solid $coral;
        overflow: scroll;
        ul {
          padding-left: 0;
          p {
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
          }
          h5 {
            font-size: 11px;
            text-transform: uppercase;
            padding-left: 10%;
          }
          a {
            font-size: 11px;
          }
        }
        .fa {
          display: block;
          text-align: center;
          margin-top: 9%;
          color: #5299d3;
        }
        .dashboardJobslistText {
          color: $charcoal;
          font-size: 1.5rem;
          font-weight: bold;
          text-align: center;
          h2 {
            font-size: 11px;
          }
        }
        .dashboardJobslisting {
          margin-top: 10%;
          margin-left: 4%;
          margin-right: 4%;
          font-size: 15px;
          text-align: center;
        }
        .dashboardJobslistingShort {
          position: relative;
          top: 35px;
        }
       }
      }
     }
     .dashboardMapWrapper {
       h2 {
         color: white;
         text-align: center;
         padding-top: 5%;
       }
      }
     }

 .map {
   float: left;
   width: 80%;
   padding-top: 3%;
   margin-left: 5% !important;
 }

.rightColumn {
  float: right;
  width: 40%;
  padding-right: 5%;
  .dashboardFullPreferencesWrapper {
    h2 {
      color: white;
      text-align: center;
      padding-top: 5%;
    }
    .dashboardOverviewInterface {
      .dashboardOverviewInterfaceText {
        height: 180px;
        width: 500px;
        margin: 0;
        margin-bottom: 15%;
      .dashboardOverviewTopLists{
        display: flex;
        flex-direction: row;
        align-content: left;
        justify-content: left;
        height: 60px;
        .dashboardOverviewListItem {
          width: 155px;
          height: 200px;
          background-color: $greybackground;
          border-radius: 5px;
          margin: 0 1%;
          border-bottom: 20px solid $coral;
          p {
            font-size: 11px;
          }
          .dashboardOverviewListItemTitle {
          font-size: 1.1rem;
          font-weight: bold;
          }
          p {
            text-align: center;
            color: $charcoal;
            }
          }
        }
      }
    }
  }
  .dashboardGraphWrapper {
    h2 {
      color: white;
      text-align: center;
      padding-top: 5%;
    }
  }
}
.aboutButton{
    position: absolute;
    bottom: 10px;
}
