
@import "variables";

.dashboardBody {
  background: linear-gradient(
      rgba(white, 0.45),
      rgba(white, 0.45)
    ),
    url("../images/dashboardHero.jpg");
  background-position: center;
  background-size: cover;
}

.quizEmbarkLogo {
  padding: 2% 2%;
}

.dashboardTitle {
  text-align: center;
  .dashboardHeadingText {
    h1 {
      font-size: 100px;
      margin: 1%;
      color: $charcoal;
    }
    h2 {
      margin: 1%;
      color: $charcoal;
    }
  }
}


.dashboardTopLists{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 220px;
  .dashboardListItem {
    width: 300px;
    height: 200px;
    background-color: $charcoal;
    border-radius: 5px;
    margin: 4px 15px;
    opacity: .9;
    p {
      text-align: center;
      color: white;
    }
  }
}

.dashboardInterfaceText {
  background-color: $charcoal;
  border-top: 25px solid $coral;
  h2 {
    color: white;
    text-align: center;
    padding-top: 2%;
  }
  .dashboardButtons {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 5%;
  }
  .dashboardButtonsItem {
      .dashboardButton {
        width: 300px;
        height: 100px;
        font-size: 20px;
        color: #ffffff;
        border-radius: 5px;
        padding: 0 25px;
        background-color: $sky;
        border: none;
        margin-bottom: 20%;
      }
      .dashboardButton:hover {
        background-color: #ffffff;
        color: $sky;
        box-sizing: border-box;
      }
  }
}
