
@import "variables";

.dashboardBody {
  background-color: $charcoal;
}

.quizEmbarkLogo {
  padding: 2% 2%;
}


.dashboardHeadingText {
  padding-bottom: 2%;
  h1 {
    font-size: 65px;
    text-align: center;
    margin: 1%;
    color: white;
  }
  hr {
    border: 5px solid $coral;
    width: 56%;
  }
}
.dashboardFullButtonWrapper {
  h2 {
    color: white;
    text-align: center;
  }
  .dashboardButtonContainer {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
  .dashboardButton {
    width: 170px;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background-color: $sky;
    border: none;
    margin-bottom: 3%;
  }
  .dashboardButton:hover {
    background-color: #ffffff;
    color: $sky;
    box-sizing: border-box;
    }
  }
}

.dashboardFullPreferencesWrapper {
  h2 {
    color: white;
    text-align: center;
  }
}

.dashboardJobListingWrapper {
  h2 {
    color: white;
    text-align: center;
  }
}

.dashboardGraphWrapper {
  h2 {
    color: white;
    text-align: center;
  }
}

.leftColumn {
  float: left;
  width: 30%;
  padding-left: 5%;
}

.rightColumn {
  float: right;
  width: 30%;
  padding-right: 5%;
}
