.industriesBody {
  background-color: $greybackground;
}

.industriesTitle {
  height: 20%;
  background-color: white;
  border-bottom: 13px solid #5299d3;
    .quizEmbarkLogo {
      padding: 2% 2%;
    }
    h1 {
      margin: 0;
      position: relative;
      top: -10px;
      padding-bottom: 3%;
      text-align: center;
    }
    .industriesNav {
      padding-right: 4%;
      .industriesUl {
        margin: 0;
        padding-top: 1.2%;
        .industriesLi {
          float: right;
          padding-left: 2%;
          list-style: none;
          .industriesA {
            color: $coral;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15px;
            text-align: center;
          }
          .industriesA:hover {
            color: $charcoal;
          }
        }
      }
    }
  }

.industriesEmbarkLogo {
    height: 70px;
    padding: 1%;
    padding-top: 0;
    padding-left: 1.5%;
}

.industryFeatures {
  margin: 5% 3%;
  margin-bottom: 5%;
  margin-left: 7%;
  margin-top: 9%;
  float: left;
  width: 20%;
  .industryInstructions {
    margin-bottom: 10%;
  }
  .industryButton {
    width: 90%;
    padding: 3%;
    background-color: white;
    border-radius: 5px;
    .fa {
      display: block;
      text-align: center;
    }
    .industryText {
      font-size: 0.8rem;
      margin: 0;
      text-align: center;
    }
  }
  .industryButton:hover {
    cursor: pointer;
    // .fa {
    //   color: white;
    // }
    // .industriesText {
    //   color: white;
    // }
  }
  .industryButtonCoral {
    background-color: $coral;
    .fa {
      color: white;
    }
    .industryTextCoral {
      color: white;
    }
  }
  .industryButtonCoral:hover {
    background-color: white;
    .fa {
      color: $coral;
    }
    .industryTextCoral {
      color: $coral;
    }
  }

  .industryButtonSky {
    background-color: $sky;
    margin-top: 13%;
    margin-bottom: 13%;
    .fa {
      color: white;
    }
    .industryTextSky {
      color: white;
    }
  }
  .industryButtonSky:hover {
    background-color: white;
    .fa {
      color: $sky;
    }
    .industryTextSky {
      color: $sky;
    }
  }

  .industryButtonCharcoal {
    background-color: $charcoal;
    .fa {
      color: white;
    }
    .industryTextCharcoal {
      color: white;
    }
  }
  .industryButtonCharcoal:hover {
    background-color: white;
    .fa {
      color: $charcoal;
    }
    .industryTextCharcoal {
      color: $charcoal;
    }
  }

}

.map {
  float: left;
  width: 80%;
  padding-top: 3%;
  margin-left: 5% !important;
}

.nextSteps {
  clear: both;
  margin-top: 5%;
  margin-bottom: 1%;
  text-align: center;
  .nextStepsText {
    width: 80%;
    display: block;
    margin: 0 auto;
    color: $charcoal
  }
  .nextButton {
    font-size: 15px;
    font-family: $font;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  .nextButton:hover {
    color: #ff5a5f;
    background-color: white;
  }
}
