.industriesBody {
  background-color: $greybackground;
}

.industriesTitle {
  height: 20%;
  background-color: white;
  border-bottom: 13px solid #5299d3;
    .quizEmbarkLogo {
      padding: 2% 2%;
    }
  .industriesTitle {
    // margin-left: 10%;
    margin: 0;
    h1 {
      margin: 0;
      position: relative;
      top: -10px;
      padding-bottom: 3%;
      text-align: center;
    }
  }
}

.industryFeatures {
  margin: 5% 10%;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  .industryItem {
    float: left;
    height: 370px;
    width: 20%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #f7f7f7;
    border-bottom: 20px solid $coral;
    border-radius: 5px;
    .fa {
      display: block;
      text-align: center;
      margin-top: 9%;
      color: #5299d3;
    }
    .industriesText {
      color: $charcoal;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
    .industryFeatureText {
      margin-top: 10%;
      margin-left: 4%;
      margin-right: 4%;
      font-size: 15px;
      text-align: left;
    }
    .industryFeatureTextShort {
      position: relative;
      top: 35px;
    }
  }
  .industryMiddle {
    margin-right: 11%;
    margin-left: 11%;
  }
}

.nextSteps {
  clear: both;
  margin-top: 42%;
  margin-bottom: 1%;
  text-align: center;
  .nextStepsText {
    width: 80%;
    display: block;
    margin: 0 auto;
    color: $charcoal
  }
  .nextButton {
    font-size: 15px;
    font-family: $font;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  .nextButton:hover {
    color: #ff5a5f;
    background-color: white;
  }
}
