.industriesBody {
  background-color: $greybackground;
}

.industriesTitle {
  height: 20%;
  background-color: white;
  border-bottom: 13px solid #5299d3;
    .quizEmbarkLogo {
      padding: 2% 2%;
    }
  .industriesTitle {
    margin: 0;
    h1 {
      margin: 0;
      position: relative;
      top: -10px;
      padding-bottom: 3%;
      text-align: center;
    }
  }
}

.industryFeatures {
  margin: 5% 3%;
  margin-bottom: 5%;
  margin-left: 7%;
  margin-top: 13%;
  float: left;
  width: 20%;
  .industryItem {
    width: 90%;
    padding: 3%;
    background-color: white;
    border-radius: 5px;
    .fa {
      display: block;
      text-align: center;
    }
    .industryText {
      font-size: 0.8rem;
      margin: 0;
      text-align: center;
    }
  }
  .industryItem:hover {
    cursor: pointer;
    .fa {
      color: white;
    }
    // .industriesText {
    //   color: white;
    // }
  }
  .industryItemCoral {
    .fa {
      color: $coral;
    }
    .industryTextCoral {
      color: $coral;
    }
  }
  .industryItemCoral:hover {
    background-color: $coral;
    .industryTextCoral {
      color: white;
    }
  }

  .industryItemSky {
    margin-top: 15%;
    margin-bottom: 15%;
    .fa {
      color: $sky;
    }
    .industryTextSky {
      color: $sky;
    }
  }
  .industryItemSky:hover {
    background-color: $sky;
    .industryTextSky {
      color: white;
    }
  }

  .industryItemCharcoal {
    .fa {
      color: $charcoal;
    }
    .industryTextCharcoal {
      color: $charcoal;
    }
  }
  .industryItemCharcoal:hover {
    background-color: $charcoal;
    .industryTextCharcoal {
      color: white;
    }
  }

}

.map {
  float: left;
  width: 80%;
  padding-top: 3%;
  margin-left: 5% !important;
}

.nextSteps {
  clear: both;
  margin-top: 5%;
  margin-bottom: 1%;
  text-align: center;
  .nextStepsText {
    width: 80%;
    display: block;
    margin: 0 auto;
    color: $charcoal
  }
  .nextButton {
    font-size: 15px;
    font-family: $font;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  .nextButton:hover {
    color: #ff5a5f;
    background-color: white;
  }
}
