@import "variables";

.overviewBody {
  background-image: url("../images/overviewHero3.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.quizEmbarkLogo {
  padding: 2% 2%;
}

.overviewTitle {
  height: 150px;
  .overviewHeadingText {
    h1 {
      text-align: center;
    }
  }
  }

.overviewInterface {
  .overviewInterfaceText {
    background-color: $greybackground;
    border-top: 25px solid $sky;
  .overviewTopLists{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    height: 250px;
    padding-top: 4%;
    .overviewListItem {
      width: 350px;
      height: 230px;
      background-color: $charcoal;
      border-radius: 5px;
      margin: 4px 20px;
      border-bottom: 20px solid $coral;
      .overviewListItemTitle {
      font-size: 1.5rem;
      font-weight: bold;
      }
      p {
        text-align: center;
        color: white;
      }
    }
  }
    h2 {
      color: $charcoal;
      text-align: center;
      padding-top: 2%;
    }
    .reviewButtonSection {
      display: block;
      text-align: center;
      margin-top: 5%;
      padding-bottom: 3%;
      p {
        text-align: center;
        padding-bottom: 1%;
      }
      .reviewButton {
        font-size: 15px;
        font-family: $font;
        color: #ffffff;
        border-radius: 5px;
        padding: 10px 25px;
        background-color: #ff5a5f;
        border: none;
      }
      .reviewButton:hover {
        color: #ff5a5f;
        background-color: white;
      }
    }
  }
}
