// .templateBody {
//  background-color: #ededed ;
// }


.quizEmbarkLogo {
  height: 70px;
  padding: 2% 3% 0 3%;
}

.templateLeft {
 float: left;
 width: 73%;
 height: 720px;
 .templateHero {
  clear: both;
  height: 40%;
  width: 100%;
  .templateTitle {
    margin: 0;
    h1 {
    color: #2b303a;
    padding: 0 8%;
    font-weight: 700;
    text-align: center;
    margin: 0;
    }
    .templateBlurb {
      color: #2b303a ;
      text-align: justify;
      padding: 0 8%;
    }
  }
}
  .templateMainBody {
   background-color: $sky;
   height: 63%;
   margin: 0;
   padding: 0;
     p {
       color: white;
       text-align: center;
       font-size: 15px;
       margin: 0;
       padding-top: 5%;
     }
    .templateButton {
     font-size: 15px;
     font-family: $font;
     color: #ffffff;
     border-radius: 5px;
     padding: 10px 25px;
     background-color: #5299d3 ;
     background-color: #ff5a5f ;
     border: none;
     display: block;
     margin: 0 auto;
     margin-top: 2%;
    }
    .templateButton:hover {
     background-color: #ffffff ;
     color: #ff5a5f ;
     box-sizing: border-box;
    }
  }
}


.templateRight {
 float: right;
 width: 27%;
 height: 745px;
 background-color: #2b303a ;
 .nav {
   ul {
     li {
       float: right;
       padding-right: 14%;
       list-style: none;
       a {
         color: $coral;
         text-decoration: none;
         text-transform: uppercase;
         font-size: 15px;
         text-align: center;
         padding: .5%;
       }
       a:hover {
         color: white;
       }
     }
   }
 }
 .templateText {
   width: 70%;
   padding-top: 19%;
   padding-left: 15%;
   p{
     color: white;
     text-align: justify;
   }
 }
}
