// INSIDE SCROLLING LIST BAR
.titleIndustryText {
  color: white;
  font-family: $font;
  font-size: 13px;
  padding: 3%;
  padding-left: 10%;
}

.titleChooseList {
  padding-left: 7%;
  padding-top: 6.2%;
  .titleResourceTitle {
    padding-left: 9%;
    padding-top: 0;
  }
 }

.templateRight {
  .titleResourceTitle{
    padding-top: 2%;
  }
  .graphRight {
    padding-bottom: 3.4%;
    .titleResources {
      margin-left: 15%;
      margin-top: 15%;
    }
  }
}

.titleResources {
  .titleResourceGroup{
    display: none;
    padding-left: 15%;
    a {
    color: white;
    font-weight: 200;
    font-size: 15px;
    }
    a:hover{
      color: $coral;
    }
  }
}

.titleButton {
  font-size: 15px;
  font-family: $font;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: #ff5a5f;
  border: none;
  position: absolute;
  bottom: 1%;
  right: 8.5%;
}
.titleButton:hover {
  background-color: #ffffff;
  color: #ff5a5f;
  box-sizing: border-box;
}
