
.titleRadioButtons {
  padding-left: 15%;
  .titleTitleText {
    color: white;
    font-family: $font;
    font-size: 13px;
    padding: 3%;
    padding-left: 6%;
  }
}
.titleChooseList {
  padding-left: 7%;
  padding-top: 1.5%;
}
.titleFeatures {
  display: block;
  margin: 0 auto;
  padding-left: 10%;
  padding-top: 1%;
  #titleLinkToggle1, #titleLinkToggle2, #titleLinkToggle3 {
   display: none;
   p {
   color: white;
    }
  }
  .titleItem {
    button {
      border: none;
      text-align: left;
      width: 90%;
      background-color: white;
      border-radius: 5px;
      padding: 2%;
      .fa {
        display: inline;
        padding-top: 2%;
        padding-right: 5%;
        padding-left: 7%;
        color: $coral;
      }
      .titleText {
        color: $coral;
        display: inline;
        font-size: 0.8rem;
        padding-left: 1%;
        margin: 0;
        }
      }
    }
  .titleItem:hover {
      button {
      background-color: $coral;
      cursor: pointer;
      .fa {
        color: white;
      }
      .titleText {
        color: white;
      }
    }
  }
  .titleItemMiddle {
    margin-top: 6%;
    margin-bottom: 6%;
  }
}


.graphRight {
  .titleResourceTitle {
    padding-top: 2%;
    padding-left: 16%;
    .titleResourceTitleText {
      padding-top: 2%;
      color: $sky;
      font-size: 17px;
      font-family: $font;
      }
    }
  .titleResourceGroup{
    display: none;
    padding-left: 16%;
    a {
    color: white;
    font-weight: 200;
    font-size: 15px;
    }
    a:hover{
      color: $coral;
    }
  }
}

.titleButton {
  font-size: 15px;
  font-family: $font;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: #ff5a5f;
  border: none;
  position: absolute;
  bottom: 1%;
  right: 8.5%;
}
.titleButton:hover {
  background-color: #ffffff;
  color: #ff5a5f;
  box-sizing: border-box;
}
