.landingLeft {
  float: left;
  width: 78%; }

ul {
    list-style: none;
    padding-left: 0;
}

.landingRight {
  float: right;
  width: 22%;
  height: 1125px;
  background-color: #2b303a; }

.landingHero {
  clear: both;
  background-image: url("https://s3.us-east-2.amazonaws.com/embarkproject/heroImg1.jpg");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%; }
  .landingHero .landingHeroOverlay {
    height: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3); }
    .landingHero .landingHeroOverlay .landingHeroTitle {
      width: 45%;
      padding: 2% 2%;
      padding-left: 1%;
      padding-top: 20%; }
      .landingHero .landingHeroOverlay .landingHeroTitle .tossing {
        height: 150px;
        padding-top: 4.5%;
        padding-left: 15%;
        position: absolute; }
      .landingHero .landingHeroOverlay .landingHeroTitle .whiteTitle {
        height: 200px;
        width: auto;
        padding-top: 32%;
        display: block;
        margin: 0 auto; }

.landingSummary {
  width: 100%;
  background-color: #5299D3; }
  .landingSummary p {
    color: white;
    margin: 0 10%;
    padding-top: 3%;
    padding-bottom: 3%; }

.landingFeatures {
  margin: 6% 10%;
  padding-bottom: 5%; }
  .landingFeatures .landingFeatureItem {
    float: left;
    height: 315px;
    width: 20%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #f7f7f7;
    border-bottom: 20px solid #ff5A5F;
    border-radius: 5px; }
    .landingFeatures .landingFeatureItem .fa {
      display: block;
      text-align: center;
      margin-top: 9%;
      color: #5299d3; }
    .landingFeatures .landingFeatureItem img {
      height: 67px;
      width: 67px;
      display: block;
      margin: 0 auto;
      margin-top: 9%; }
    .landingFeatures .landingFeatureItem .landingFeatureText {
      margin-top: 15%;
      margin-left: 4%;
      margin-right: 4%;
      font-size: 15px;
      text-align: justify; }
    .landingFeatures .landingFeatureItem .landingFeatureShipText {
      position: relative;
      top: -3px; }
  .landingFeatures .landingFeatureMiddle {
    margin-right: 11%;
    margin-left: 11%; }

.landingLogin {
  clear: both; }
  .landingLogin p {
    text-align: center;
    color: white;
    font-size: 13px; }
    .landingLogin p a {
      text-decoration: none;
      font-weight: bolder;
      color: #ff5a5f; }
    .landingLogin p a:hover {
      color: white; }
  .landingLogin .landingLoginForm {
    margin: 10% 10%;
    margin-top: 50%;
    text-align: center; }
    .landingLogin .landingLoginForm h2 {
      color: white; }
    .landingLogin .landingLoginForm form {
      margin-top: 15%; }
      .landingLogin .landingLoginForm form .name, .landingLogin .landingLoginForm form .password {
        margin-top: 5%;
        padding: 10px 25px;
        width: 60%;
        border-radius: 5px;
        border-bottom: 5px solid #5299d3; }
      .landingLogin .landingLoginForm form .loginbutton {
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        border-radius: 5px;
        padding: 10px 25px;
        background-color: #ff5a5f;
        border: none;
        margin: 0 auto;
        margin-top: 22%; }
      .landingLogin .landingLoginForm form .loginbutton:hover {
        color: #ff5a5f;
        background-color: white; }

.landingRegister {
  clear: both;
  display: none; }
  .landingRegister p {
    text-align: right;
    color: white;
    font-size: 16px;
    margin-right: 17%; }
    .landingRegister p a {
      text-decoration: none;
      font-weight: bolder;
      color: #ff5a5f; }
    .landingRegister p a:hover {
      color: white; }
  .landingRegister .landingRegisterForm {
    margin: 5% 10%;
    margin-top: 35%;
    text-align: center; }
    .landingRegister .landingRegisterForm h2 {
      color: white;
      padding-bottom: 5%; }
    .landingRegister .landingRegisterForm form .firstname, .landingRegister .landingRegisterForm form .lastname, .landingRegister .landingRegisterForm form .email, .landingRegister .landingRegisterForm form .password, .landingRegister .landingRegisterForm form .jobtitle {
      margin-top: 5%;
      padding: 10px 25px;
      width: 60%;
      border-radius: 5px;
      border-bottom: 5px solid #5299d3; }
    .landingRegister .landingRegisterForm form .lastname {
      margin-bottom: 9%; }
    .landingRegister .landingRegisterForm form .registerButton {
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 25px;
      background-color: #ff5a5f;
      border: none;
      margin: 0 auto;
      margin-top: 28%; }
    .landingRegister .landingRegisterForm form .registerButton:hover {
      color: #ff5a5f;
      background-color: white; }

.footer {
  clear: both;
  font-size: .7rem;
  padding-top: 5%;
  text-align: center; }
  .footer a {
    text-decoration: none;
    font-size: .7rem; }

.quizEmbarkLogo {
  height: 70px;
  padding: 3%;
  padding-top: 2%; }

.quizBody {
  background-color: #EDEDED; }

.quizHero {
  clear: both;
  background: white;
  height: 288px;
  width: 100%; }
  .quizHero .quizTitle {
    padding: 0;
    margin: 0; }
    .quizHero .quizTitle h1 {
      color: #2B303A;
      padding: 0 8%;
      font-weight: 700;
      text-align: center;
      margin: 0; }
    .quizHero .quizTitle .quizBlurb {
      color: #2b303a;
      text-align: justify;
      padding: 0 8%; }

.quizLeft {
  float: left;
  width: 73%; }
  .quizLeft .quizLeftInstructions {
    background-color: #5299d3;
    padding: 2%; }
    .quizLeft .quizLeftInstructions p {
      color: white;
      text-align: center;
      font-size: 15px; }
  .quizLeft .quizQuestions {
    font-size: 25px;
    padding-left: 26.5%;
    padding-top: 2%; }
    .quizLeft .quizQuestions .quizItem {
      font-size: 27px;
      margin: 0 auto;
      display: block; }
      .quizLeft .quizQuestions .quizItem .quizItemText {
        padding-left: 0;
        font-size: 30px;
        margin: 1%;
        color: #2B303A; }
      .quizLeft .quizQuestions .quizItem input[type="radio"] {
        display: none; }
      .quizLeft .quizQuestions .quizItem .container {
        padding-left: 8.5%;
        padding-top: 1%;
        color: #2B303A; }
      .quizLeft .quizQuestions .quizItem .container label {
        position: relative; }
      .quizLeft .quizQuestions .quizItem .container span::before,
      .quizLeft .quizQuestions .quizItem .container span::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
      .quizLeft .quizQuestions .quizItem .container span.radio:hover {
        cursor: pointer; }
      .quizLeft .quizQuestions .quizItem .container span.radio::before {
        left: -52px;
        width: 45px;
        height: 25px;
        background-color: #2b303a;
        border-radius: 50px; }
      .quizLeft .quizQuestions .quizItem .container span.radio::after {
        left: -49px;
        width: 17px;
        height: 17px;
        border-radius: 10px;
        background-color: #6C788A;
        transition: left .25s, background-color .25s; }
      .quizLeft .quizQuestions .quizItem input[type="radio"]:checked + label span.radio::after {
        left: -27px;
        background-color: #ff5A5F; }
    .quizLeft .quizQuestions .q1 {
      display: block; }
    .quizLeft .quizQuestions .q2 {
      display: none; }
    .quizLeft .quizQuestions .q3 {
      display: none; }
    .quizLeft .quizQuestions .q4 {
      display: none; }
    .quizLeft .quizQuestions .q5 {
      display: none; }
    .quizLeft .quizQuestions .q6 {
      display: none; }
    .quizLeft .quizQuestions .q7 {
      display: none; }
    .quizLeft .quizQuestions .q8 {
      display: none; }
  .quizLeft .quizButton {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-right: 65%; }
  .quizLeft .quizButton:hover {
    background-color: #ffffff;
    color: #ff5a5f;
    box-sizing: border-box; }

.quizRight {
  float: right;
  width: 27%;
  height: 720px;
  background-color: #2b303a; }
  .quizRight .quizRightInstructions {
    width: 70%;
    padding-top: 36%;
    padding-left: 15%; }
    .quizRight .quizRightInstructions p {
      color: white;
      text-align: justify; }
  .quizRight .nav {
    padding-right: 14%; }
    .quizRight .nav ul li {
      float: right;
      padding-left: 10%;
      list-style: none; }
      .quizRight .nav ul li a {
        color: #ff5A5F;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        padding: .5%; }
      .quizRight .nav ul li a:hover {
        color: white; }
  .quizRight select {
    width: 70%;
    margin-top: 12%;
    margin-left: 16%; }
  .quizRight .quizChooseList select option {
    font-family: "Montserrat", sans-serif;
    font-size: 12px; }
  .quizRight .quizButton {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 20%; }
  .quizRight .quizButton:hover {
    background-color: #ffffff;
    color: #ff5a5f;
    box-sizing: border-box; }

.industriesBody {
  background-color: #EDEDED; }

.industriesTitle {
  height: 20%;
  background-color: white;
  border-bottom: 13px solid #5299d3; }
  .industriesTitle .quizEmbarkLogo {
    padding: 2% 2%; }
  .industriesTitle .industriesTitle {
    margin: 0; }
    .industriesTitle .industriesTitle h1 {
      margin: 0;
      position: relative;
      top: -10px;
      padding-bottom: 3%;
      text-align: center; }

.industryFeatures {
  margin: 5% 3%;
  margin-bottom: 5%;
  margin-left: 7%;
  margin-top: 9%;
  float: left;
  width: 20%; }
  .industryFeatures .industryInstructions {
    margin-bottom: 10%; }
  .industryFeatures .industryItem {
    width: 90%;
    padding: 3%;
    background-color: white;
    border-radius: 5px; }
    .industryFeatures .industryItem .fa {
      display: block;
      text-align: center; }
    .industryFeatures .industryItem .industryText {
      font-size: 0.8rem;
      margin: 0;
      text-align: center; }
  .industryFeatures .industryItem:hover {
    cursor: pointer; }
    .industryFeatures .industryItem:hover .fa {
      color: white; }
  .industryFeatures .industryItemCoral .fa {
    color: #ff5A5F; }
  .industryFeatures .industryItemCoral .industryTextCoral {
    color: #ff5A5F; }
  .industryFeatures .industryItemCoral:hover {
    background-color: #ff5A5F; }
    .industryFeatures .industryItemCoral:hover .industryTextCoral {
      color: white; }
  .industryFeatures .industryItemSky {
    margin-top: 13%;
    margin-bottom: 13%; }
    .industryFeatures .industryItemSky .fa {
      color: #5299D3; }
    .industryFeatures .industryItemSky .industryTextSky {
      color: #5299D3; }
  .industryFeatures .industryItemSky:hover {
    background-color: #5299D3; }
    .industryFeatures .industryItemSky:hover .industryTextSky {
      color: white; }
  .industryFeatures .industryItemCharcoal .fa {
    color: #2B303A; }
  .industryFeatures .industryItemCharcoal .industryTextCharcoal {
    color: #2B303A; }
  .industryFeatures .industryItemCharcoal:hover {
    background-color: #2B303A; }
    .industryFeatures .industryItemCharcoal:hover .industryTextCharcoal {
      color: white; }

.map {
  float: left;
  width: 80%;
  padding-top: 3%;
  margin-left: 5% !important; }

.nextSteps {
  clear: both;
  margin-top: 5%;
  margin-bottom: 1%;
  text-align: center; }
  .nextSteps .nextStepsText {
    width: 80%;
    display: block;
    margin: 0 auto;
    color: #2B303A; }
  .nextSteps .nextButton {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%; }
  .nextSteps .nextButton:hover {
    color: #ff5a5f;
    background-color: white; }

.jobslistBody {
  background-color: #EDEDED; }

.jobslistTitle {
  height: 20%;
  width: 100%;
  background-color: white;
  border-bottom: 13px solid #5299d3; }
  .jobslistTitle .quizEmbarkLogo {
    padding: 2% 2%; }
  .jobslistTitle .jobslistTitle h1 {
    width: 80%;
    position: relative;
    top: -10px;
    margin: 0;
    margin-left: 10%;
    padding-bottom: 3%; }

.jobslistFeatures {
  margin: 5% 10%; }
  .jobslistFeatures .jobslistItem {
    float: left;
    height: 370px;
    width: 20%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #f7f7f7;
    border-bottom: 20px solid #ff5A5F;
    border-radius: 5px; }
    .jobslistFeatures .jobslistItem .fa {
      display: block;
      text-align: center;
      margin-top: 9%;
      color: #5299d3; }
    .jobslistFeatures .jobslistItem .jobslistText {
      color: #2B303A;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center; }
    .jobslistFeatures .jobslistItem .jobsListing {
      margin-top: 10%;
      margin-left: 4%;
      margin-right: 4%;
      font-size: 15px;
      text-align: center; }
    .jobslistFeatures .jobslistItem .jobslistingShort {
      position: relative;
      top: 35px; }
  .jobslistFeatures .jobslistFeatureMiddle {
    margin-right: 11%;
    margin-left: 11%; }

.dashboardBody {
  background-color: #2B303A; }

.quizEmbarkLogo {
  padding: 2% 2%; }

.dashboardHeadingText {
  padding-bottom: 2%; }
  .dashboardHeadingText h1 {
    font-size: 65px;
    text-align: center;
    margin: 1%;
    color: white; }
  .dashboardHeadingText hr {
    border: 5px solid #ff5A5F;
    width: 56%; }

.dashboardFullButtonWrapper h2 {
  color: white;
  text-align: center; }
.dashboardFullButtonWrapper .dashboardButtonContainer {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
  flex-wrap: wrap; }
  .dashboardFullButtonWrapper .dashboardButtonContainer .dashboardButton {
    width: 170px;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background-color: #5299D3;
    border: none;
    margin-bottom: 3%; }
  .dashboardFullButtonWrapper .dashboardButtonContainer .dashboardButton:hover {
    background-color: #ffffff;
    color: #5299D3;
    box-sizing: border-box; }

.dashboardFullPreferencesWrapper h2 {
  color: white;
  text-align: center; }

.dashboardJobListingWrapper h2 {
  color: white;
  text-align: center; }

.dashboardGraphWrapper h2 {
  color: white;
  text-align: center; }

.leftColumn {
  float: left;
  width: 30%;
  padding-left: 5%; }

.rightColumn {
  float: right;
  width: 30%;
  padding-right: 5%; }

.overviewBody {
  background-image: url("../images/overviewHero3.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.quizEmbarkLogo {
  padding: 2% 2%; }

.overviewTitle {
  height: 150px; }
  .overviewTitle .overviewHeadingText h1 {
    text-align: center; }

.overviewInterface .overviewInterfaceText {
  background-color: #EDEDED;
  border-top: 25px solid #5299D3; }
  .overviewInterface .overviewInterfaceText .overviewTopLists {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    height: 250px;
    padding-top: 4%; }
    .overviewInterface .overviewInterfaceText .overviewTopLists .overviewListItem {
      width: 350px;
      height: 230px;
      background-color: #2B303A;
      border-radius: 5px;
      margin: 4px 20px;
      border-bottom: 20px solid #ff5A5F; }
      .overviewInterface .overviewInterfaceText .overviewTopLists .overviewListItem .overviewListItemTitle {
        font-size: 1.5rem;
        font-weight: bold; }
      .overviewInterface .overviewInterfaceText .overviewTopLists .overviewListItem p {
        text-align: center;
        color: white; }
  .overviewInterface .overviewInterfaceText h2 {
    color: #2B303A;
    text-align: center;
    padding-top: 2%; }
  .overviewInterface .overviewInterfaceText .reviewButtonSection {
    display: block;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 3%; }
    .overviewInterface .overviewInterfaceText .reviewButtonSection p {
      text-align: center;
      padding-bottom: 1%; }
    .overviewInterface .overviewInterfaceText .reviewButtonSection .reviewButton {
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 25px;
      background-color: #ff5a5f;
      border: none; }
    .overviewInterface .overviewInterfaceText .reviewButtonSection .reviewButton:hover {
      color: #ff5a5f;
      background-color: white; }

.quizEmbarkLogo {
  height: 70px;
  padding: 2% 3% 0 3%; }

.templateLeft {
  float: left;
  width: 73%;
  height: 720px; }
  .templateLeft .templateHero {
    clear: both;
    height: 40%;
    width: 100%; }
    .templateLeft .templateHero .templateTitle {
      margin: 0; }
      .templateLeft .templateHero .templateTitle h1 {
        color: #2b303a;
        padding: 0 8%;
        font-weight: 700;
        text-align: center;
        margin: 0; }
      .templateLeft .templateHero .templateTitle .templateBlurb {
        color: #2b303a;
        text-align: justify;
        padding: 0 8%; }
  .templateLeft .templateMainBody {
    background-color: #EDEDED;
    height: 63%;
    margin: 0;
    padding: 0; }
    .templateLeft .templateMainBody .templateMainBodyInstructions {
      color: white;
      text-align: center;
      font-size: 15px;
      margin: 0;
      padding: 3% 0;
      background-color: #5299D3; }
    .templateLeft .templateMainBody p {
      color: white;
      text-align: center;
      font-size: 15px;
      margin: 0;
      padding-top: 5%; }
    .templateLeft .templateMainBody .templateButton {
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 25px;
      background-color: #5299d3;
      background-color: #ff5a5f;
      border: none;
      display: block;
      margin: 0 auto;
      margin-top: 2%; }
    .templateLeft .templateMainBody .templateButton:hover {
      background-color: #ffffff;
      color: #ff5a5f;
      box-sizing: border-box; }

.templateRight {
  float: right;
  width: 27%;
  height: 745px;
  background-color: #2b303a; }
  .templateRight .nav {
    padding-right: 14%; }
    .templateRight .nav ul li {
      float: right;
      padding-left: 10%;
      list-style: none; }
      .templateRight .nav ul li a {
        color: #ff5A5F;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        padding: .5%; }
      .templateRight .nav ul li a:hover {
        color: white; }
  .templateRight .templateText {
    width: 70%;
    padding-top: 19%;
    padding-left: 15%; }
    .templateRight .templateText p {
      color: white;
      text-align: justify; }

.cultureMainBody {
  background-color: #EDEDED;
  height: 80%;
  margin: 0;
  padding: 0; }
  .cultureMainBody .cultureMainBodyInstructions {
    color: white;
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 3% 0;
    background-color: #5299D3; }
  .cultureMainBody p {
    text-align: left;
    font-size: 15px;
    margin: 0;
    margin-left: 15%;
    padding-top: 3%; }
  .cultureMainBody .continueText {
    margin-left: 34%;
    margin-top: 3%; }

label {
  margin-top: 0;
  color: #2B303A;
  font-size: 13px;
  text-transform: uppercase; }

.amount {
  background-color: #EDEDED;
  border: 0;
  color: #2B303A;
  font-size: .9rem; }

.slider {
  background-color: #ff5A5F;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 1%; }

.cultureRight {
  height: 864px; }

.cultureLocationText {
  color: white; }

.locationForm {
  margin: 0;
  text-align: center; }
  .locationForm form .location {
    margin-top: 8%;
    padding: 10px 25px;
    width: 80%;
    border-radius: 5px;
    border-bottom: 5px solid #5299d3; }
  .locationForm form label {
    font-size: 1.35em;
    color: white;
    margin: 10px 10px;
    cursor: pointer;
    -webkit-transition: all 0.25s linear; }
  .locationForm form .radioBox {
    display: inline;
    position: relative;
    left: -38px; }
    .locationForm form .radioBox .noLocation {
      margin-top: 15%; }
    .locationForm form .radioBox .radioLabel {
      font-family: "Montserrat", sans-serif;
      font-size: 1.1em;
      text-transform: none; }
  .locationForm form .locationButton {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    margin: 0 auto;
    margin-top: 22%; }
  .locationForm form .locationButton:hover {
    color: #ff5a5f;
    background-color: white; }

.titleRadioButtons {
  padding-left: 15%; }
  .titleRadioButtons .titleTitleText {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    padding: 3%;
    padding-left: 6%; }

.titleChooseList {
  padding-left: 7%;
  padding-top: 1.5%; }

.titleFeatures {
  display: block;
  margin: 0 auto;
  padding-left: 10%;
  padding-top: 1%; }
  .titleFeatures #titleLinkToggle1, .titleFeatures #titleLinkToggle2, .titleFeatures #titleLinkToggle3 {
    display: none; }
    .titleFeatures #titleLinkToggle1 p, .titleFeatures #titleLinkToggle2 p, .titleFeatures #titleLinkToggle3 p {
      color: white; }
  .titleFeatures .titleItem button {
    border: none;
    text-align: left;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 2%; }
    .titleFeatures .titleItem button .fa {
      display: inline;
      padding-top: 2%;
      padding-right: 5%;
      padding-left: 7%;
      color: #ff5A5F; }
    .titleFeatures .titleItem button .titleText {
      color: #ff5A5F;
      display: inline;
      font-size: 0.8rem;
      padding-left: 1%;
      margin: 0; }
  .titleFeatures .titleItem:hover button {
    background-color: #ff5A5F;
    cursor: pointer; }
    .titleFeatures .titleItem:hover button .fa {
      color: white; }
    .titleFeatures .titleItem:hover button .titleText {
      color: white; }
  .titleFeatures .titleItemMiddle {
    margin-top: 6%;
    margin-bottom: 6%; }

.graphRight .titleResourceTitle {
  padding-top: 2%;
  padding-left: 16%; }
  .graphRight .titleResourceTitle .titleResourceTitleText {
    padding-top: 2%;
    color: #5299D3;
    font-size: 17px;
    font-family: "Montserrat", sans-serif; }
.graphRight .titleResourceGroup {
  display: none;
  padding-left: 16%; }
  .graphRight .titleResourceGroup a {
    color: white;
    font-weight: 200;
    font-size: 15px; }
  .graphRight .titleResourceGroup a:hover {
    color: #ff5A5F; }

.titleButton {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: #ff5a5f;
  border: none;
  position: absolute;
  bottom: 1%;
  right: 8.5%; }

.titleButton:hover {
  background-color: #ffffff;
  color: #ff5a5f;
  box-sizing: border-box; }

/* GLOBAL PAGE STYLING*/
html, body {
  width: 100%;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #2b303a;
  text-transform: uppercase; }

p, a {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #2b303a; }

/*# sourceMappingURL=style.css.map */
