.mediaMessage {
  display: none; }

.landingLeft {
  float: left;
  width: 78%; }

.landingRight {
  float: right;
  width: 22%;
  height: 1200px;
  height: 1195px;
  background-color: #2b303a; }

.landingHero {
  clear: both;
  background-image: url("https://s3.us-east-2.amazonaws.com/embarkproject/heroImg1.jpg");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%; }
  .landingHero .landingHeroOverlay {
    height: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3); }
    .landingHero .landingHeroOverlay .landingHeroTitle {
      width: 45%;
      padding: 2% 2%;
      padding-left: 1%;
      padding-top: 20%; }
      .landingHero .landingHeroOverlay .landingHeroTitle .tossing {
        height: 150px;
        padding-top: 4.5%;
        padding-left: 15%;
        position: absolute; }
      .landingHero .landingHeroOverlay .landingHeroTitle .whiteTitle {
        height: 200px;
        width: auto;
        padding-top: 32%;
        display: block;
        margin: 0 auto; }

.landingSummary {
  width: 100%;
  background-color: #5299D3; }
  .landingSummary a {
    text-decoration: none; }
    .landingSummary a .fa-angle-double-down {
      color: white;
      display: block;
      text-align: center;
      text-decoration: none; }
    .landingSummary a .fa-angle-double-down:hover {
      color: #2B303A; }
  .landingSummary p {
    color: white;
    margin: 0 10%;
    padding-top: 6%;
    padding-bottom: 2%; }

.landingFeatures {
  margin: 6% 10%;
  padding-bottom: 5%; }
  .landingFeatures .landingFeatureItem {
    float: left;
    height: 315px;
    width: 20%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #f7f7f7;
    border-bottom: 20px solid #ff5A5F;
    border-radius: 5px; }
    .landingFeatures .landingFeatureItem .fa {
      display: block;
      text-align: center;
      margin-top: 9%;
      color: #5299d3; }
    .landingFeatures .landingFeatureItem img {
      height: 67px;
      width: 67px;
      display: block;
      margin: 0 auto;
      margin-top: 9%; }
    .landingFeatures .landingFeatureItem .landingFeatureText {
      margin-top: 15%;
      margin-left: 4%;
      margin-right: 4%;
      font-size: 15px;
      text-align: center; }
    .landingFeatures .landingFeatureItem .landingFeatureShipText {
      position: relative;
      top: -3px; }
  .landingFeatures .landingFeatureMiddle {
    margin-right: 11%;
    margin-left: 11%; }

.landingLogin {
  clear: both; }
  .landingLogin p {
    text-align: center;
    color: white;
    font-size: 13px; }
    .landingLogin p a {
      text-decoration: none;
      font-weight: bolder;
      color: #ff5a5f; }
    .landingLogin p a:hover {
      color: white; }
  .landingLogin .landingLoginForm {
    margin: 10% 10%;
    margin-top: 50%;
    text-align: center; }
    .landingLogin .landingLoginForm h2 {
      color: white; }
    .landingLogin .landingLoginForm form {
      margin-top: 15%; }
      .landingLogin .landingLoginForm form .name, .landingLogin .landingLoginForm form .password {
        margin-top: 5%;
        padding: 10px 25px;
        width: 60%;
        border-radius: 5px;
        border-bottom: 5px solid #5299d3; }
      .landingLogin .landingLoginForm form .loginbutton {
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        border-radius: 5px;
        padding: 10px 25px;
        background-color: #ff5a5f;
        border: none;
        margin: 0 auto;
        margin-top: 22%; }
      .landingLogin .landingLoginForm form .loginbutton:hover {
        color: #ff5a5f;
        background-color: white; }

.landingRegister {
  clear: both;
  display: none; }
  .landingRegister p {
    text-align: right;
    color: white;
    font-size: 16px;
    margin-right: 17%; }
    .landingRegister p a {
      text-decoration: none;
      font-weight: bolder;
      color: #ff5a5f; }
    .landingRegister p a:hover {
      color: white; }
  .landingRegister .landingRegisterForm {
    margin: 5% 10%;
    margin-top: 35%;
    text-align: center; }
    .landingRegister .landingRegisterForm h2 {
      color: white;
      padding-bottom: 5%; }
    .landingRegister .landingRegisterForm form .firstname, .landingRegister .landingRegisterForm form .lastname, .landingRegister .landingRegisterForm form .username, .landingRegister .landingRegisterForm form .email, .landingRegister .landingRegisterForm form .password, .landingRegister .landingRegisterForm form .jobtitle {
      margin-top: 5%;
      padding: 10px 25px;
      width: 60%;
      border-radius: 5px;
      border-bottom: 5px solid #5299d3; }
    .landingRegister .landingRegisterForm form .lastname, .landingRegister .landingRegisterForm form .password {
      margin-bottom: 9%; }
    .landingRegister .landingRegisterForm form .registerButton {
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 25px;
      background-color: #ff5a5f;
      border: none;
      margin: 0 auto;
      margin-top: 28%; }
    .landingRegister .landingRegisterForm form .registerButton:hover {
      color: #ff5a5f;
      background-color: white; }

.footer {
  clear: both;
  font-size: .7rem;
  padding-top: 5%;
  text-align: center; }
  .footer a {
    text-decoration: none;
    font-size: .7rem; }

.poweredBy {
  display: block;
  text-align: center;
  position: relative;
  top: 53.5%; }
  .poweredBy a {
    color: white;
    text-decoration: none;
    font-size: .7rem; }
    .poweredBy a img {
      height: 13px; }

@media (max-width: 630px) {
  .mediaMessage {
    display: block; }

  .containerMainGone {
    display: none; } }
@media (min-width: 631px) and (max-width: 1024px) {
  .mediaMessage {
    display: block; }

  .containerMainGone {
    display: none; } }
.quizEmbarkLogo {
  height: 70px;
  padding: 0;
  position: relative;
  top: 15px;
  left: 20px; }

.quizBody {
  background-color: #EDEDED; }

.quizHero {
  clear: both;
  background: white;
  height: 285px;
  width: 100%; }
  .quizHero .quizTitle {
    padding: 0;
    margin: 0;
    margin-top: 2%; }
    .quizHero .quizTitle h1 {
      color: #2B303A;
      padding: 0 8%;
      font-weight: 700;
      text-align: center;
      margin: 0; }
    .quizHero .quizTitle .quizBlurb {
      color: #2b303a;
      text-align: justify;
      padding: 0 8%; }

.quizLeft {
  float: left;
  width: 73%; }
  .quizLeft .quizLeftInstructions {
    background-color: #5299d3;
    padding: 1.5% 2%; }
    .quizLeft .quizLeftInstructions p {
      color: white;
      text-align: center;
      font-size: 15px; }
  .quizLeft .quizQuestions {
    font-size: 25px;
    padding-left: 26.5%;
    padding-top: 2.5%; }
    .quizLeft .quizQuestions .quizItem {
      font-size: 27px;
      margin: 0 auto;
      display: block; }
      .quizLeft .quizQuestions .quizItem .quizItemText {
        padding-left: 0;
        font-size: 30px;
        margin: 1%;
        color: #2B303A; }
      .quizLeft .quizQuestions .quizItem input[type="radio"] {
        display: none; }
      .quizLeft .quizQuestions .quizItem .container {
        padding-left: 8.5%;
        padding-top: 1%;
        color: #2B303A; }
      .quizLeft .quizQuestions .quizItem .container label {
        position: relative;
        font-weight: bold;
        font-size: 20px;
        color: #2B303A; }
      .quizLeft .quizQuestions .quizItem .container span::before,
      .quizLeft .quizQuestions .quizItem .container span::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
      .quizLeft .quizQuestions .quizItem .container span.radio:hover {
        cursor: pointer; }
      .quizLeft .quizQuestions .quizItem .container span.radio::before {
        left: -52px;
        width: 45px;
        height: 25px;
        background-color: #2b303a;
        border-radius: 50px; }
      .quizLeft .quizQuestions .quizItem .container span.radio::after {
        left: -49px;
        width: 17px;
        height: 17px;
        border-radius: 10px;
        background-color: #6C788A;
        transition: left .25s, background-color .25s; }
      .quizLeft .quizQuestions .quizItem input[type="radio"]:checked + label span.radio::after {
        left: -27px;
        background-color: #ff5A5F; }
    .quizLeft .quizQuestions .q1 {
      display: block; }
    .quizLeft .quizQuestions .q2 {
      display: none; }
    .quizLeft .quizQuestions .q3 {
      display: none; }
    .quizLeft .quizQuestions .q4 {
      display: none; }
    .quizLeft .quizQuestions .q5 {
      display: none; }
    .quizLeft .quizQuestions .q6 {
      display: none; }
    .quizLeft .quizQuestions .q7 {
      display: none; }
    .quizLeft .quizQuestions .q8 {
      display: none; }
    .quizLeft .quizQuestions .q10 {
      display: none; }
  .quizLeft .quizButton {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-right: 65%; }
  .quizLeft .quizButton:hover {
    background-color: #ffffff;
    color: #ff5a5f;
    box-sizing: border-box; }

.quizRight {
  float: right;
  width: 27%;
  height: 720px;
  background-color: #2b303a; }
  .quizRight .quizRightInstructions {
    width: 70%;
    padding-top: 36%;
    padding-left: 15%; }
    .quizRight .quizRightInstructions p {
      color: white;
      text-align: justify; }
  .quizRight .nav {
    padding-right: 14%; }
    .quizRight .nav ul li {
      float: right;
      padding-left: 10%;
      list-style: none; }
      .quizRight .nav ul li a {
        color: #ff5A5F;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        padding: .5%; }
      .quizRight .nav ul li a:hover {
        color: white; }
  .quizRight select {
    width: 70%;
    margin-top: 12%;
    margin-left: 16%; }
  .quizRight .quizChooseList select option {
    font-family: "Montserrat", sans-serif;
    font-size: 12px; }
  .quizRight .manualIndustryButton {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 26%; }
  .quizRight .manualIndustryButton:hover {
    background-color: #ffffff;
    color: #ff5a5f;
    box-sizing: border-box; }

.industriesBody {
  background-color: #EDEDED; }

.industriesTitle {
  height: 20%;
  background-color: white;
  border-bottom: 13px solid #5299d3; }
  .industriesTitle h1 {
    margin: 0;
    padding-bottom: 3.8%;
    text-align: center; }
  .industriesTitle .industriesNav {
    padding-right: 4%; }
    .industriesTitle .industriesNav .industriesUl {
      margin: 0;
      padding-top: 1.2%; }
      .industriesTitle .industriesNav .industriesUl .industriesLi {
        float: right;
        padding-left: 2%;
        list-style: none; }
        .industriesTitle .industriesNav .industriesUl .industriesLi .industriesA {
          color: #ff5A5F;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 15px;
          text-align: center; }
        .industriesTitle .industriesNav .industriesUl .industriesLi .industriesA:hover {
          color: #2B303A; }

.industriesEmbarkLogo {
  height: 70px;
  padding: 0;
  position: relative;
  top: 0;
  left: 20px; }

.industryFeatures {
  margin: 5% 3%;
  margin-bottom: 5%;
  margin-left: 7%;
  margin-top: 9%;
  float: left;
  width: 20%; }
  .industryFeatures .industryInstructions {
    margin-bottom: 10%; }
  .industryFeatures .industryButton {
    width: 90%;
    padding: 3%;
    background-color: white;
    border-radius: 5px; }
    .industryFeatures .industryButton .fa {
      display: block;
      text-align: center; }
    .industryFeatures .industryButton .industryText {
      font-size: 0.8rem;
      margin: 0;
      text-align: center; }
  .industryFeatures .industryButton:hover {
    cursor: pointer; }
  .industryFeatures .industryButtonCoral {
    background-color: #ff5A5F; }
    .industryFeatures .industryButtonCoral .fa {
      color: white; }
    .industryFeatures .industryButtonCoral .industryTextCoral {
      color: white; }
  .industryFeatures .industryButtonCoral:hover {
    background-color: white; }
    .industryFeatures .industryButtonCoral:hover .fa {
      color: #ff5A5F; }
    .industryFeatures .industryButtonCoral:hover .industryTextCoral {
      color: #ff5A5F; }
  .industryFeatures .industryButtonSky {
    background-color: #5299D3;
    margin-top: 13%;
    margin-bottom: 13%; }
    .industryFeatures .industryButtonSky .fa {
      color: white; }
    .industryFeatures .industryButtonSky .industryTextSky {
      color: white; }
  .industryFeatures .industryButtonSky:hover {
    background-color: white; }
    .industryFeatures .industryButtonSky:hover .fa {
      color: #5299D3; }
    .industryFeatures .industryButtonSky:hover .industryTextSky {
      color: #5299D3; }
  .industryFeatures .industryButtonCharcoal {
    background-color: #2B303A; }
    .industryFeatures .industryButtonCharcoal .fa {
      color: white; }
    .industryFeatures .industryButtonCharcoal .industryTextCharcoal {
      color: white; }
  .industryFeatures .industryButtonCharcoal:hover {
    background-color: white; }
    .industryFeatures .industryButtonCharcoal:hover .fa {
      color: #2B303A; }
    .industryFeatures .industryButtonCharcoal:hover .industryTextCharcoal {
      color: #2B303A; }

.map {
  float: left;
  width: 80%;
  padding-top: 3%;
  margin-left: 5% !important; }

.nextSteps {
  clear: both;
  margin-top: 5%;
  margin-bottom: 1%;
  text-align: center; }
  .nextSteps .nextStepsText {
    width: 80%;
    display: block;
    margin: 0 auto;
    color: #2B303A; }
  .nextSteps .nextButton {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%; }
  .nextSteps .nextButton:hover {
    color: #ff5a5f;
    background-color: white; }

.jobslistBody {
  background-color: #EDEDED; }
  .jobslistBody .jobslistNav {
    padding-right: 4%; }
    .jobslistBody .jobslistNav .jobslistUl {
      margin: 0; }
      .jobslistBody .jobslistNav .jobslistUl .jobslistLi {
        float: right;
        padding-left: 2%;
        padding-top: 1.3%;
        list-style: none; }
        .jobslistBody .jobslistNav .jobslistUl .jobslistLi .jobslistA {
          color: #ff5A5F;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 15px;
          text-align: center; }
        .jobslistBody .jobslistNav .jobslistUl .jobslistLi .jobslistA:hover {
          color: #2B303A; }

.jobslistHero {
  height: 15%;
  width: 100%;
  background-color: white;
  border-bottom: 26px solid #5299d3; }
  .jobslistHero .jobsEmbarkLogo {
    height: 70px;
    position: relative;
    top: 15px;
    left: 20px; }
  .jobslistHero .jobslistTitle h1 {
    text-align: center;
    margin: 0;
    margin-top: 1%;
    padding-bottom: 3.9%; }

.jobslistFeatures {
  margin: 5% 6%; }
  .jobslistFeatures .selectLocation {
    float: left;
    height: 370px;
    width: 16%;
    margin-right: 7%; }
    .jobslistFeatures .selectLocation .locationButton {
      height: 13%;
      margin-top: 15%;
      margin-bottom: 15%;
      border-radius: 5px;
      background-color: #ff5A5F; }
      .jobslistFeatures .selectLocation .locationButton .locationText {
        color: white;
        text-align: center;
        padding-top: 6%; }
    .jobslistFeatures .selectLocation .locationButton:hover {
      background-color: white;
      cursor: pointer; }
      .jobslistFeatures .selectLocation .locationButton:hover .locationText {
        color: #ff5A5F; }
    .jobslistFeatures .selectLocation .locationButtonTop {
      margin-top: 65%; }
  .jobslistFeatures .jobslistItem {
    float: left;
    height: 400px;
    width: 17%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #f7f7f7;
    border-bottom: 20px solid #ff5A5F;
    border-radius: 5px;
    overflow-y: scroll; }
    .jobslistFeatures .jobslistItem ul {
      padding: 0; }
    .jobslistFeatures .jobslistItem .fa {
      display: block;
      text-align: center;
      margin-top: 9%;
      color: #5299d3; }
    .jobslistFeatures .jobslistItem .jobslistText {
      color: #2B303A;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      padding-bottom: 10%; }
      .jobslistFeatures .jobslistItem .jobslistText h5 {
        font-size: 12px; }
    .jobslistFeatures .jobslistItem .jobsListing {
      margin-top: 10%;
      margin-left: 4%;
      margin-right: 4%;
      font-size: 15px;
      text-align: center; }
    .jobslistFeatures .jobslistItem .jobslistingShort {
      position: relative;
      top: 35px; }
  .jobslistFeatures .jobslistFeatureMiddle {
    margin-right: 7%;
    margin-left: 7%; }

.nextStepsJobslist {
  margin-top: 43.5%; }
  .nextStepsJobslist .nextStepsText {
    width: 49%; }

.dashboardBody {
  background-color: #2B303A; }

.dashboardEmbarkLogo {
  height: 70px;
  position: relative;
  top: 15px;
  left: 20px; }

.dashboardHeadingText {
  padding-bottom: 2%; }
  .dashboardHeadingText h1 {
    font-size: 65px;
    text-align: center;
    margin: 1%;
    color: white; }
  .dashboardHeadingText hr {
    border: 3px solid #ff5A5F;
    width: 89%; }

.dashboardFullButtonWrapper {
  width: 89.5%;
  margin: 0 auto;
  display: block; }
  .dashboardFullButtonWrapper h2 {
    color: white;
    margin: 1.5% 0;
    text-align: center; }
  .dashboardFullButtonWrapper .dashboardButtonContainer {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: .5%;
    padding-bottom: 2%; }
    .dashboardFullButtonWrapper .dashboardButtonContainer .dashboardButton {
      width: 170px;
      height: 65px;
      font-size: 13px;
      font-weight: bold;
      color: #ffffff;
      text-transform: uppercase;
      border-radius: 5px;
      background-color: #5299D3;
      border: none;
      line-height: 1.6;
      margin-bottom: 10%; }
    .dashboardFullButtonWrapper .dashboardButtonContainer .dashboardButton:hover {
      background-color: #ffffff;
      color: #5299D3;
      box-sizing: border-box; }

.leftColumn {
  float: left;
  width: 40%;
  padding-left: 5%; }
  .leftColumn .dashboardJobListingWrapper h2 {
    color: white;
    text-align: center;
    padding-top: 5%; }
  .leftColumn .dashboardJobListingWrapper .dashboardJobslistFeatures {
    display: flex;
    flex-direction: row;
    align-content: left;
    justify-content: left;
    height: 60px;
    margin-bottom: 39%; }
    .leftColumn .dashboardJobListingWrapper .dashboardJobslistFeatures .dashboardJobslistItem {
      width: 155px;
      height: 200px;
      background-color: #EDEDED;
      border-radius: 5px;
      margin: 0 1%;
      border-bottom: 20px solid #ff5A5F;
      overflow: scroll; }
      .leftColumn .dashboardJobListingWrapper .dashboardJobslistFeatures .dashboardJobslistItem ul {
        padding-left: 0; }
        .leftColumn .dashboardJobListingWrapper .dashboardJobslistFeatures .dashboardJobslistItem ul p {
          font-weight: bold;
          text-align: center;
          text-transform: uppercase; }
        .leftColumn .dashboardJobListingWrapper .dashboardJobslistFeatures .dashboardJobslistItem ul h5 {
          font-size: 11px;
          text-transform: uppercase;
          padding-left: 10%; }
        .leftColumn .dashboardJobListingWrapper .dashboardJobslistFeatures .dashboardJobslistItem ul a {
          font-size: 11px; }
      .leftColumn .dashboardJobListingWrapper .dashboardJobslistFeatures .dashboardJobslistItem .fa {
        display: block;
        text-align: center;
        margin-top: 9%;
        color: #5299d3; }
      .leftColumn .dashboardJobListingWrapper .dashboardJobslistFeatures .dashboardJobslistItem .dashboardJobslistText {
        color: #2B303A;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center; }
        .leftColumn .dashboardJobListingWrapper .dashboardJobslistFeatures .dashboardJobslistItem .dashboardJobslistText h2 {
          font-size: 11px; }
      .leftColumn .dashboardJobListingWrapper .dashboardJobslistFeatures .dashboardJobslistItem .dashboardJobslisting {
        margin-top: 10%;
        margin-left: 4%;
        margin-right: 4%;
        font-size: 15px;
        text-align: center; }
      .leftColumn .dashboardJobListingWrapper .dashboardJobslistFeatures .dashboardJobslistItem .dashboardJobslistingShort {
        position: relative;
        top: 35px; }
  .leftColumn .dashboardMapWrapper h2 {
    color: white;
    text-align: center;
    padding-top: 5%; }

.map {
  float: left;
  width: 80%;
  padding-top: 3%;
  margin-left: 5% !important; }

.rightColumn {
  float: right;
  width: 40%;
  padding-right: 5%; }
  .rightColumn .dashboardFullPreferencesWrapper h2 {
    color: white;
    text-align: center;
    padding-top: 5%; }
  .rightColumn .dashboardFullPreferencesWrapper .dashboardOverviewInterface .dashboardOverviewInterfaceText {
    height: 180px;
    width: 500px;
    margin: 0;
    margin-bottom: 15%; }
    .rightColumn .dashboardFullPreferencesWrapper .dashboardOverviewInterface .dashboardOverviewInterfaceText .dashboardOverviewTopLists {
      display: flex;
      flex-direction: row;
      align-content: left;
      justify-content: left;
      height: 60px; }
      .rightColumn .dashboardFullPreferencesWrapper .dashboardOverviewInterface .dashboardOverviewInterfaceText .dashboardOverviewTopLists .dashboardOverviewListItem {
        width: 155px;
        height: 200px;
        background-color: #EDEDED;
        border-radius: 5px;
        margin: 0 1%;
        border-bottom: 20px solid #ff5A5F; }
        .rightColumn .dashboardFullPreferencesWrapper .dashboardOverviewInterface .dashboardOverviewInterfaceText .dashboardOverviewTopLists .dashboardOverviewListItem p {
          font-size: 11px; }
        .rightColumn .dashboardFullPreferencesWrapper .dashboardOverviewInterface .dashboardOverviewInterfaceText .dashboardOverviewTopLists .dashboardOverviewListItem .dashboardOverviewListItemTitle {
          font-size: 1.1rem;
          font-weight: bold; }
        .rightColumn .dashboardFullPreferencesWrapper .dashboardOverviewInterface .dashboardOverviewInterfaceText .dashboardOverviewTopLists .dashboardOverviewListItem p {
          text-align: center;
          color: #2B303A; }
  .rightColumn .dashboardGraphWrapper h2 {
    color: white;
    text-align: center;
    padding-top: 5%; }

.aboutButton {
  position: absolute;
  top: 3%;
  right: 5%;
  background-color: #ff5A5F;
  color: white;
  font-weight: bold;
  border: none;
  padding: 1%;
  border-radius: 5px; }

.aboutButton:hover {
  background-color: white;
  color: #ff5A5F; }

.overviewBody {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }
  .overviewBody .overviewNav {
    padding-right: 4%; }
    .overviewBody .overviewNav .overviewUl {
      margin: 0;
      padding-top: 1.2%; }
      .overviewBody .overviewNav .overviewUl .overviewLi {
        float: right;
        padding-left: 2%;
        list-style: none; }
        .overviewBody .overviewNav .overviewUl .overviewLi .overviewA {
          color: #ff5A5F;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 15px;
          text-align: center; }
        .overviewBody .overviewNav .overviewUl .overviewLi .overviewA:hover {
          color: #2B303A; }

.reviewEmbarkLogo {
  height: 70px;
  position: relative;
  top: 0;
  left: 20px; }

.overviewTitle .overviewHeadingText h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 3.5%; }

.overviewInterface .overviewInterfaceText {
  background-color: #EDEDED;
  border-top: 25px solid #5299D3; }
  .overviewInterface .overviewInterfaceText .overviewTopLists {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    height: 250px;
    padding-top: 4%; }
    .overviewInterface .overviewInterfaceText .overviewTopLists .overviewListItem {
      width: 330px;
      height: 295px;
      background-color: #2B303A;
      border-radius: 5px;
      margin: 4px 30px;
      border-bottom: 20px solid #ff5A5F; }
      .overviewInterface .overviewInterfaceText .overviewTopLists .overviewListItem .overviewListItemTitle {
        font-size: 1.5rem;
        font-weight: bold; }
      .overviewInterface .overviewInterfaceText .overviewTopLists .overviewListItem p {
        text-align: center;
        color: white; }
  .overviewInterface .overviewInterfaceText h2 {
    color: #2B303A;
    text-align: center;
    padding-top: 2%; }
  .overviewInterface .overviewInterfaceText .reviewButtonSection {
    display: block;
    text-align: center;
    margin-top: 9%;
    padding-bottom: 3%; }
    .overviewInterface .overviewInterfaceText .reviewButtonSection p {
      text-align: center;
      padding-bottom: 1%; }
    .overviewInterface .overviewInterfaceText .reviewButtonSection .reviewButton {
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 25px;
      background-color: #ff5a5f;
      border: none; }
    .overviewInterface .overviewInterfaceText .reviewButtonSection .reviewButton:hover {
      color: #ff5a5f;
      background-color: white; }

.templateEmbarkLogo {
  height: 70px;
  position: relative;
  top: 15px;
  left: 20px; }

.templateLeft {
  float: left;
  width: 73%;
  height: 720px; }
  .templateLeft .templateHero {
    clear: both;
    width: 100%; }
    .templateLeft .templateHero .templateTitle {
      margin: 0; }
      .templateLeft .templateHero .templateTitle h1 {
        color: #2b303a;
        padding: 0 8%;
        font-weight: 700;
        text-align: center;
        margin: 0;
        margin-top: 2.5%; }
      .templateLeft .templateHero .templateTitle .templateBlurb {
        color: #2b303a;
        text-align: justify;
        padding: 0 8%;
        margin: 0;
        margin-bottom: 4.5%; }
  .templateLeft .templateMainBody {
    background-color: #EDEDED;
    height: 63%;
    margin: 0;
    padding: 0; }
    .templateLeft .templateMainBody .templateMainBodyInstructions {
      color: white;
      text-align: center;
      font-size: 15px;
      margin: 0;
      padding: 3% 0;
      background-color: #5299D3; }
    .templateLeft .templateMainBody p {
      color: white;
      text-align: center;
      font-size: 15px;
      margin: 0;
      padding-top: 5%; }
    .templateLeft .templateMainBody .templateButton {
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 25px;
      background-color: #5299d3;
      background-color: #ff5a5f;
      border: none;
      display: block;
      margin: 0 auto;
      margin-top: 2%; }
    .templateLeft .templateMainBody .templateButton:hover {
      background-color: #ffffff;
      color: #ff5a5f;
      box-sizing: border-box; }

.templateRight {
  float: right;
  width: 27%;
  height: 737px;
  background-color: #2b303a; }
  .templateRight .nav {
    padding-right: 14%; }
    .templateRight .nav ul li {
      float: right;
      padding-left: 10%;
      list-style: none; }
      .templateRight .nav ul li a {
        color: #ff5A5F;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        padding: .5%; }
      .templateRight .nav ul li a:hover {
        color: white; }
  .templateRight .templateText {
    width: 70%;
    padding-top: 19%;
    padding-left: 15%; }
    .templateRight .templateText p {
      color: white;
      text-align: justify; }

.cultureMainBody {
  background-color: #EDEDED;
  height: 78%;
  margin: 0;
  padding: 0; }
  .cultureMainBody .cultureMainBodyInstructions {
    color: white;
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 3% 0;
    background-color: #5299D3; }
  .cultureMainBody p {
    text-align: left;
    font-size: 15px;
    margin: 0;
    margin-left: 15%;
    padding-top: 3%; }
  .cultureMainBody .continueText {
    margin-left: 34%;
    margin-top: 3%; }

label {
  margin-top: 0;
  color: #2B303A;
  font-size: 13px;
  text-transform: uppercase; }

.amount {
  background-color: #EDEDED;
  border: 0;
  color: #2B303A;
  font-size: .9rem; }

.slider {
  background-color: #ff5A5F;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 1%; }

.cultureRight {
  height: 845px; }

.cultureLocationText {
  color: white; }

.locationForm {
  margin: 0;
  margin-top: 10.5%;
  text-align: center; }
  .locationForm form .location {
    margin-top: 8%;
    padding: 10px 25px;
    width: 80%;
    border-radius: 5px;
    border-bottom: 5px solid #5299d3; }
  .locationForm form label {
    font-size: 1.35em;
    color: white;
    margin: 10px 10px;
    cursor: pointer;
    -webkit-transition: all 0.25s linear; }
  .locationForm form .locationButton {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    margin: 0 auto;
    margin-top: 24%; }
  .locationForm form .locationButton:hover {
    color: #ff5a5f;
    background-color: white; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: #2B303A; }

.titleRadioButtons {
  padding-left: 15%; }
  .titleRadioButtons .titleTitleText {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    padding: 3%;
    padding-left: 6%; }

.titleChooseList {
  padding-left: 7%;
  padding-top: 1.5%; }

.titleFeatures {
  display: block;
  margin: 0 auto;
  padding-left: 10%;
  padding-top: 1%; }
  .titleFeatures #titleLinkToggle1, .titleFeatures #titleLinkToggle2, .titleFeatures #titleLinkToggle3 {
    display: none; }
    .titleFeatures #titleLinkToggle1 p, .titleFeatures #titleLinkToggle2 p, .titleFeatures #titleLinkToggle3 p {
      color: white;
      font-size: 12px;
      padding-left: 5%; }
  .titleFeatures .titleItem button {
    border: none;
    text-align: left;
    width: 80%;
    background-color: #ff5A5F;
    border-radius: 5px;
    padding: 1%;
    margin-left: 6%; }
    .titleFeatures .titleItem button .fa {
      display: inline;
      padding-top: 2%;
      padding-right: 1%;
      padding-left: 1%;
      color: white; }
    .titleFeatures .titleItem button .titleText {
      color: white;
      display: inline;
      font-size: 12px;
      padding-left: 1%;
      margin: 0; }
  .titleFeatures .titleItem:hover button {
    background-color: white;
    cursor: pointer; }
    .titleFeatures .titleItem:hover button .fa {
      color: #ff5A5F; }
    .titleFeatures .titleItem:hover button .titleText {
      color: #ff5A5F; }
  .titleFeatures .titleItemMiddle {
    margin-top: 6%;
    margin-bottom: 6%; }

.graphRight .titleResourceTitle {
  padding-top: 2%;
  padding-left: 16%; }
  .graphRight .titleResourceTitle .titleResourceTitleText {
    padding-top: 2%;
    color: #5299D3;
    font-size: 17px;
    font-family: "Montserrat", sans-serif; }
.graphRight .titleResourceGroup {
  display: none;
  padding-left: 16%; }
  .graphRight .titleResourceGroup a {
    color: white;
    font-weight: 200;
    font-size: 15px; }
  .graphRight .titleResourceGroup a:hover {
    color: #ff5A5F; }

.titleButton {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: #ff5a5f;
  border: none;
  position: absolute;
  right: 8%;
  top: 90%; }

.titleButton:hover {
  background-color: #ffffff;
  color: #ff5a5f;
  box-sizing: border-box; }

.aboutPage {
  width: 100%;
  height: 900px; }

/* GLOBAL PAGE STYLING*/
html, body {
  width: 100%;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #2b303a;
  text-transform: uppercase; }

p, a {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #2b303a; }

@media (max-width: 630px) {
  body {
    display: none; } }
@media (min-width: 631px) and (max-width: 1024px) {
  body {
    display: none; } }

/*# sourceMappingURL=style.css.map */
