{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Embark! | For Career Changers</title>
        <link rel='icon' href='https://s3.us-east-2.amazonaws.com/embarkproject/android-chrome-512x512.png' type='image/png'/>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'embark/css/style.css' %}">
    </head>
    <body class="templateBody">

      <div class="templateLeft cultureLeft">
        <div class="templateHero cultureHero">
          <a href="/embark/main"><img class="templateEmbarkLogo" src="https://s3.us-east-2.amazonaws.com/embarkproject/embarkTitle.png"></a>
            <div class="templateTitle">
              <h1>Company Culture Preference</h1>
              <p class="templateBlurb">Company culture is one of the most important factors of job satisfaction, but it isn’t usually prioritized during a job search. Take a minute to think about what aspects of a company's culture matter most to you.</p>
            </div>
        </div>

        <div class="cultureMainBody">
          <p class="cultureMainBodyInstructions">Move the sliders to rate the following company culture preferences on a scale of 1 to 5.</p>

          <p>
            <label for="amount">Culture and Values:</label>
            <input type="text" class="amount" id="amount">
          </p>
          <div id="slider-range-max" class="slider"></div>
          <p>
            <label for="amount2">Senior Leadership:</label>
            <input type="text" class="amount" id="amount2">
          </p>
          <div id="slider-range-2" class="slider"></div>
          <p>
            <label for="amount3">Compensation and Benefits:</label>
            <input type="text" class="amount" id="amount3">
          </p>
          <div id="slider-range-3" class="slider"></div>
          <p>
            <label for="amoun4">Career Opportunities:</label>
            <input type="text" class="amount" id="amount4">
          </p>
          <div id="slider-range-4" class="slider"></div>
          <p>
            <label for="amount5">Work Life Balance:</label>
            <input type="text" class="amount" id="amount5">
          </p>
          <div id="slider-range-5" class="slider"></div>

          <p class="continueText">Enter location preferences to continue</p>
        </div>

      </div>
      <!-- end of left column -->

      <div class="templateRight cultureRight">
        <div class="nav">
          <ul>
            <li><a href="#">SignOff</a></li>
            <li><a href="#">Dashboard</a></li>
          </ul>
        </div>

        <div class="templateText">
          <h2 class="cultureLocationText">Location Preference</h2>
          <p>Enter your top 3 location preferences by City, State.</p>

          <div class="locationForm">
            <form>
              <input class="location" type="text" id="location1" name="location" placeholder="location1"/>

              <input class="location" type="text" id="location2" name="location" placeholder="location2"/>

              <input class="location" type="text" id="location3" name="location" placeholder="location3"/>

              <!-- <div class="radioBox">
                <input class="noLocation" id="noL-option" type="checkbox" name="nolocation">
                <label class="radioLabel" for="noL-option">No Preference</label>
             </div> -->

              <button id="culturePrefs" class="locationButton" type="submit">submit</button>
            </form>
          </div>
        </div>
        <input id="userId" type='hidden' name='userId' value='{{ user.id }}'>
      </div>

      <!-- end of right column -->

        {% verbatim %}
        <script id="post-template" type="text/x-handlebars-template">
        {{#each .}}
        <h4>Job Name: {{this.name}}</h4>
        <h5>Overall Rating: {{this.overallRating}}</h5>
        {{/each}}
        {% endverbatim %}
        </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'embark/js/culture.js' %}"></script>
    <script>
    </body>
</html>
