{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EMBARK!!</title>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'embark/css/style.css' %}">
    </head>

      <body class="dashboardBody">
      <a href="index.html"><img class="quizEmbarkLogo" src="https://s3.us-east-2.amazonaws.com/embarkproject/embarkTitle.png"></a>

          <div class="dashboardTitle">
              <div class="dashboardHeadingText">
                <h1>DASHBOARD</h1>
              </div>
          </div>

          <div class="dashboardInterface">
            <div class="dashboardInterfaceText">
              <h2>Where would you like to go?</h2>
              <div class="dashboardButtons">
                <div class= "dashboardButtonsItem">
                  <button class="dashboardButton">Retake quiz or change industry preferences</button>
                </div>
                <div class= "dashboardButtonsItem">
                  <button class="dashboardButton">Change culture preferences</button>
                </div>

                <div class= "dashboardButtonsItem">
                  <button class="dashboardButton">See job listings</button>
                </div>
                <div class= "dashboardButtonsItem">
                  <button class="dashboardButton">See industry resources</button>
                </div>
                <div class= "dashboardButtonsItem">
                  <button class="dashboardButton">Review current preferences</button>
                </div>
                <div class= "dashboardButtonsItem">
                  <button class="dashboardButton">Change profile settings </button>
                </div>
                </div>
            </div>
          </div>
        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'embark/js/dashboard.js' %}"></script>
    </body>
</html>
