{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EMBARK!!</title>
        <link rel='icon' href='https://s3.us-east-2.amazonaws.com/embarkproject/coralfavicon_720.png' type='image/png'/>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'embark/css/style.css' %}">
    </head>

      <body class="dashboardBody">
      <a href="/embark/main"><img class="quizEmbarkLogo" src="https://s3.us-east-2.amazonaws.com/embarkproject/embarkTitle.png"></a>

          <div class="dashboardInterface">
              <div class="dashboardHeadingText">
                <h1>{{user.first_name}}'S DASHBOARD</h1>
                <hr>
              </div>
            <div class= "leftColumn">
              <div class="dashboardFullButtonWrapper">
                <h2>Navigate</h2>
                <div class="dashboardButtonContainer">
                    <a href="/embark/quiz"><button class="dashboardButton">Retake quiz or change industry preferences</button></a>
                    <a href="/embark/culture"><button class="dashboardButton">Change culture preferences</button></a>
                    <a href="/embark/jobslist"><button class="dashboardButton">See job listings</button></a>
                    <a href="/embark/title"><button class="dashboardButton">See industry resources</button></a>
                    <a href="/embark/review"><button class="dashboardButton">Review current preferences</button>
                    <a href="/logout"><button class="dashboardButton">Log out </button></a>
                </div>
              </div>
              <div class="dashboardJobListingWrapper">
                <h2>Job Listings</h2>
              </div>
            </div>

            <div class="rightColumn">
              <div class="dashboardFullPreferencesWrapper">
                <h2>Current Preferences</h2>
              </div>
              <div class="dashboardGraphWrapper">
                <h2>Next Career Graph</h2>
              </div>
            </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'embark/js/dashboard.js' %}"></script>
    </body>
</html>
