{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Embark! | For Career Changers</title>
        <link rel='icon' href='https://s3.us-east-2.amazonaws.com/embarkproject/android-chrome-512x512.png' type='image/png'/>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'embark/css/style.css' %}">
    </head>
    <body class="jobslistBody">

        <div class="jobslistTitle">
          <a href="/embark/main"><img class="quizEmbarkLogo" src="https://s3.us-east-2.amazonaws.com/embarkproject/embarkTitle.png"></a>
            <div class="jobslistTitle">
              <h1>Based on your preferences, here are job listings that will help you understand who’s hiring</h1>
            </div>
        </div>

        <div class="jobslistFeatures">
            <div class="selectLocation">
              <div id='location1' class="locationButton locationButtonTop">
                <p class="locationText">Location1</p>
              </div>
              <div id='location2' class="locationButton">
                <p class="locationText">Location2</p>
              </div>
              <div id='location3' class="locationButton">
                <p class="locationText">Location3</p>
              </div>
            </div>
            <div id="header1" class="jobslistItem">
              <ul id ="col1"></ul>
            </div>
            <div id="header2" class="jobslistItem jobslistFeatureMiddle">
              <ul id="col2"></ul>
            </div>
            <div id="header3" class="jobslistItem">
              <ul id="col3"></ul>
            </div>
        </div>

        <div class="nextSteps nextStepsJobslist">
          <p class="nextStepsText">Now that you know what job titles might be a good fit, let’s take a look at what other people with your current job have done next.</p>
          <a href='/embark/title'><button class="nextButton">next</button></a>
        </div>
        <input id="userId" type='hidden' name='userId' value='{{ user.id }}'>




        {% verbatim %}
        <script id="post-template" type="text/x-handlebars-template">
        {{#each this}}
        <h5>{{this.company}}:<br> {{{displayLink this}}}</h5>
        {{/each}}
        {% endverbatim %}
        </script>

        {% verbatim %}
        <script id="post-template1" type="text/x-handlebars-template">
        <i class="fa fa-4x {{this.icon}}" aria-hidden="true"></i>
        <p class="jobslistText">{{this.title}}</p>
        {% endverbatim %}
        </script>


    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{% static 'embark/js/jquery.ajax-cross-origin.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'embark/js/jobslist.js' %}"></script>
    </body>
</html>
