{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EMBARK!!</title>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'embark/css/style.css' %}">
    </head>
    <body class="jobslistBody">

        <div class="jobslistTitle">
          <a href="index.html"><img class="quizEmbarkLogo" src="https://s3.us-east-2.amazonaws.com/embarkproject/embarkTitle.png"></a>
            <div class="jobslistTitle">
              <h1>Based on your preferences, here are job listings that will help you understand who’s hiring</h1>
            </div>
        </div>

        <div class="jobslistFeatures">
          <div class="jobslistItem">
            <i class="fa fa-4x fa-film" aria-hidden="true"></i>
            <p class="jobslistText">Art / Design / Entertainment</p>
            <p id="col1" class="jobsListing"></p>
          </div>
          <div class="jobslistItem jobslistFeatureMiddle">
            <i class="fa fa-4x fa-scissors" aria-hidden="true"></i>
            <p class="jobslistText">Beauty / Wellness</p>
            <p id="col2" class="jobsListing"></p>
          </div>
          <div class="jobslistItem">
            <i class="fa fa-4x fa-graduation-cap" aria-hidden="true"></i>
            <p class="jobslistText">Education</p>
            <p id="col3" class="jobsListing jobslistingShort"></p>
          </div>
        </div>

        <div class="nextSteps">
          <p class="nextStepsText">Now that you know what job titles might be a good fit, let’s take a look at what other people with your current job have done next.</p>
          <button class="nextButton">next</button>
        </div>



        <div id='handlebars'></div>
        {% verbatim %}
        <script id="post-template" type="text/x-handlebars-template">
        {{#each this}}
        <h5>JOB LISTING: {{{displayLink this}}}</h5>
        {{/each}}
        {% endverbatim %}
        </script>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'embark/js/jobslist.js' %}"></script>
    </body>
</html>
