{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Embark! | For Career Changers</title>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
        <link rel='icon' href='https://s3.us-east-2.amazonaws.com/embarkproject/android-chrome-512x512.png' type='image/png'/>
        <link rel="stylesheet" href="{% static 'embark/css/animations.css' %}">
        <link rel="stylesheet" href="{% static 'embark/css/style.css' %}">
    </head>
    <body>

            <div class="landingLeft">

              <div class="landingHero">
                <div class="landingHeroOverlay">
                  <div class="landingHeroTitle">
                    <!-- <img  class="tossing" src="https://s3.us-east-2.amazonaws.com/embarkproject/embarkTitleWhite.png"> -->
                    <img  class="tossing" src="{% static 'embark/images/whiteShipIcon.png' %}">
                    <img class="whiteTitle" src="{% static 'embark/images/whiteTitle.png' %}">
                  </div>
                </div>
              </div>

              <div class="landingSummary">
                <p class="landingMarketing">Welcome! These days, changing a career many times is common. But it can be scary, too. With millions of job titles, it can even feel like there are too many options. Built by career-changers, Embark! is here to help you decide what direction to take.</p>
                <a href="#landingFeaturesId"><i class="fa fa-3x fa-angle-double-down" id="landingMoveArrow" aria-hidden="true"></i></a>
              </div>



              <div class="landingFeatures" id="landingFeaturesId">
                <div class="landingFeatureItem">
                  <i class="fa fa-4x fa-cogs" aria-hidden="true"></i>
                  <p class="landingFeatureText">Not even sure what industry you’re interested in? We know exactly how you feel. We’ll take you through a short quiz to narrow down your options.</p>
                </div>
                <div class="landingFeatureItem landingFeatureMiddle">
                  <i class="fa fa-4x fa-comments" aria-hidden="true"></i>
                  <p class="landingFeatureText">Do you care about company culture? Know that equal work/life balance is a must? We’ll help you find companies that have the culture you’re looking for.</p>
                </div>
                <div class="landingFeatureItem landingFeatureShip">
                  <img src="https://s3.us-east-2.amazonaws.com/embarkproject/shipiconblue.png">
                  <p class="landingFeatureText landingFeatureShipText">By making the decision to change your career, you’re already halfway there. Let us help you take charge of your own path and get ready to Embark!</p>
                </div>
              </div>


            <p class="footer">&copy; Embark! 2017   Created by <a href="http://www.linabreslav.com" target= "_blank">Lina Breslav</a> | <a href="http://www.sanchithkuttappa.com"target= "_blank">Sanchith Kuttappa</a> | <a href="https://jdbower0525.github.io/" target= "_blank">John Bower</a></p>
            </div>
            <!-- end of left column -->

            <div class="landingRight">

              <div class="landingLogin">
                <p>New to Embark? <a class="registerClick" href="#">REGISTER</a></p>

                <div class="landingLoginForm">
                <h2>Login</h2>
                <form class ="loginform" action='/embark/main' name="LoginForm" method="POST">
                    {% csrf_token %}
                    <input class='name loginfield' name="username" type="text" placeholder ="username"></input>
                    <br>
                    <br>
                    <input class='password loginfield' name="password" type="password" placeholder ="password"></input>
                    <br>
                    <br>
                    <button class="loginbutton" type="submit">login</button>
                </form>
              </div>
            </div>

              <div class="landingRegister">
                <p><a class="loginClick" href="#">LOGIN</a></p>

                <div class="landingRegisterForm">
                  <h2>Register</h2>
                  <form>
                    {% csrf_token %}
                    <input class="firstname" type="text" id="firstname" name="first_name" placeholder="first name"/>

                    <input class="lastname" type="text" id="lastname" name="last_name" placeholder="last name"/>

                    <input class="username" type="text" id="username" name="username" placeholder="username"/>

                    <input class="email" type="email" id="email" name="email" placeholder="email"/>

                    <input class="password" type="password" id="password" name="password" placeholder="password"/>

                    <input class="jobtitle" type="text" id="jobtitle" name="jobtitle" placeholder="current job title"/>

                  <input id="createUser" class="registerButton" type="submit"></input>
                  </form>

                </div>
              </div>

            </div>


        <div id='handlebars'></div>
        {% verbatim %}
        <script id="post-template" type="text/x-handlebars-template">
        {{#each .}}
        <h4>Job Name: {{this.name}}</h4>
        <h5>Overall Rating: {{this.overallRating}}</h5>
        {{/each}}
        {% endverbatim %}
        </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'embark/js/main.js' %}"></script>
    </body>
</html>
