{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EMBARK!!</title>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'embark/css/style.css' %}">
    </head>

      <body class="overviewBody">
      <a href="index.html"><img class="quizEmbarkLogo" src="https://s3.us-east-2.amazonaws.com/embarkproject/embarkTitle.png"></a>

          <div class="overviewTitle">
              <div class="overviewHeadingText">
                <h1>John, check out your top industries, <br> cultural preferences, and locations </h1>
              </div>
          </div>
      <div class="overviewInterface">
        <div class="overviewInterfaceText">
          <div class="overviewTopLists">
            <div class="overviewListItem overviewIndustryList">
              <p class="overviewListItemTitle">INDUSTRY</p>
              <p>list item number 1</p>
              <p>list item number 2</p>
              <p>list item number 3</p>
            </div>
            <div class="overviewListItem overviewCultureList">
              <p class="overviewListItemTitle">CULTURE</p>
              <p>list item number 1</p>
              <p>list item number 2</p>
              <p>list item number 3</p>
            </div>
            <div class="overviewListItem overviewLocationList">
              <p class="overviewListItemTitle">LOCATION</p>
              <p>list item number 1</p>
              <p>list item number 2</p>
              <p>list item number 3</p>
            </div>
          </div>
      <div class=reviewButtonSection>
        <p>Search for jobs that match these preferences</p>
        <button class="reviewButton">Next</button>
      </div>
    </div>
  </div>




        <div id='handlebars'></div>
        {% verbatim %}
        <script id="post-template" type="text/x-handlebars-template">
        {{#each this}}
        <h5>JOB LISTING: {{{displayLink this}}}</h5>
        {{/each}}
        {% endverbatim %}
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'embark/js/review.js' %}"></script>
    </body>
</html>
