{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Embark! | For Career Changers</title>
        <link rel='icon' href='https://s3.us-east-2.amazonaws.com/embarkproject/android-chrome-512x512.png' type='image/png'/>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'embark/css/style.css' %}">
    </head>

      <body class="overviewBody">
      <a href="/embark/main"><img class="quizEmbarkLogo" src="https://s3.us-east-2.amazonaws.com/embarkproject/embarkTitle.png"></a>

          <div class="overviewTitle">
              <div class="overviewHeadingText">
                <h1>{{user.first_name}}, check out your top industries, <br> cultural preferences, and locations </h1>
              </div>
          </div>
      <div class="overviewInterface">
        <div class="overviewInterfaceText">
          <div class="overviewTopLists">
            <div class="overviewListItem overviewIndustryList">
              <p class="overviewListItemTitle">INDUSTRY</p>
              <p id='industry1'></p>
              <p id='industry2'></p>
              <p id='industry3'></p>
            </div>
            <div class="overviewListItem overviewCultureList">
              <p class="overviewListItemTitle">CULTURE</p>
              <p id='culture1'></p>
              <p id='culture2'></p>
              <p id='culture3'></p>
              <p id='culture4'></p>
              <p id='culture5'></p>
            </div>
            <div class="overviewListItem overviewLocationList">
              <p class="overviewListItemTitle">LOCATION</p>
              <p id='location1'></p>
              <p id='location2'></p>
              <p id='location3'></p>
            </div>
          </div>
      <div class=reviewButtonSection>
        <p>Search for jobs that match these preferences</p>
        <a href='/embark/jobslist'><button class="reviewButton">Next</button></a>
      </div>
    </div>
  </div>



  <input id="userId" type='hidden' name='userId' value='{{ user.id }}'>
        <div id='handlebars'></div>
        {% verbatim %}
        <script id="post-template" type="text/x-handlebars-template">
        {{#each this}}
        <h5>JOB LISTING: {{{displayLink this}}}</h5>
        {{/each}}
        {% endverbatim %}
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'embark/js/review.js' %}"></script>
    </body>
</html>
