{% load static %}

<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8">
       <title>EMBARK!!</title>
       <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
       <link rel="stylesheet" href="{% static 'embark/css/style.css' %}">
   </head>
   <body class="templateBody">

     <div class="templateLeft">
       <div class="templateHero">
          <a href="index.html"><img class="quizEmbarkLogo" src="https://s3.us-east-2.amazonaws.com/embarkproject/embarkTitle.png"></a>
           <div class="templateTitle">
             <h1>Career-Changers Like You</h1>
             <p class="templateBlurb">The world is your oyster and you can decide your own path! But when you're thinking about making a career change, it can be helpful to know what people like you have done before. The chart below displays what those with your job title have gone on to do. </p>
           </div>
       </div>

       <div class="templateMainBody graphMainBody">
         <p class="templateMainBodyInstructions">The graph below displays what people with your current job title have gone on to be.</p>
         <div id="chartContainer" style="min-width: 310px; height: 320px; max-width: 600px; margin: 0 auto"></div>
         <button class="templateButton">Dashboard</button>
       </div>

     </div>
     <!-- end of left column -->

     <div class="templateRight graphRight">
       <div class="nav">
         <ul>
           <li><a href="#">SignOff</a></li>
           <li><a href="#">Dashboard</a></li>
         </ul>
       </div>

       <div class="templateText">
         <p>Inspired and ready to get started on your journey?
            Below are some relevant resources.<br><br>
            Select an industry</p>
       </div>

       <div class="titleChooseList">
         <select id="titleSelection" required name="activity[]" class="multiselect form-control" multiple="multiple" size="3">
            <option value="1">Art/Design/Entertainment</option>
            <option value="2">Beauty/Wellness </option>
            <option value="3">Education</option>
            <option value="4">Facilities/General Labor</option>
            <option value="5">Hospitality </option>
            <option value="6">Installation/Maintenance/Repair</option>
            <option value="7">Medical/Healthcare</option>
            <option value="8">Restaurant / Food Services </option>
            <option value="9">Retail</option>
            <option value="10">Sales / Customer Care</option>
            <option value="11">Security / Law Enforcement</option>
            <option value="12">Skilled Trade</option>
            <option value="13">Sports / Fitness</option>
            <option value="14">Travel / Transportation </option>
            <option value="15">Administrative</option>
            <option value="16">Accounting / Finance</option>
            <option value="17">Analyst </option>
            <option value="18">Architecture / Drafting</option>
            <option value="19">Banking / Loan / Insurance</option>
            <option value="20">Business Development / Consulting</option>
            <option value="21">Engineering (Non-software)</option>
            <option value="22">Human Resources</option>
            <option value="23">Legal</option>
            <option value="24">Manufact. / Product. / Construct.</option>
            <option value="25">Marketing / Advertising / PR</option>
            <option value="26">Non-Profit / Volunteering</option>
            <option value="27">	Product / Project Management</option>
            <option value="28">Real Estate</option>
            <option value="29">Science / Research</option>
            <option value="30">Senior Management</option>
            <option value="31">Software Development / IT</option>
            <option value="32">Writing / Editing / Publishing</option>
            ...
         </select>
         <button id="manualIndustry" class="titleButton">submit</button>
       </div>

       <div class= "titleResources">
         <p id="titleResource1">Resource 1 </p>
         <p id="titleResource2">Resource 2 </p>
         <p id="titleResource3">Resource 3 </p>
       </div>

     </div>
     <!-- end of right column -->

       {% verbatim %}
       <script id="post-template" type="text/x-handlebars-template">
       {{#each .}}
       <h4>Job Name: {{this.name}}</h4>
       <h5>Overall Rating: {{this.overallRating}}</h5>
       {{/each}}
       {% endverbatim %}
       </script>

   <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/modules/exporting.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
   <script type="text/javascript" src="{% static 'embark/js/title.js' %}"></script>
   </body>
</html>
